---
name: Test and Build

on: [push, pull_request]

jobs:
  build:
    name: Build
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
    - name: Checkout
      uses: actions/checkout@v2
    
    - name: Setup Node.js
      uses: actions/setup-node@v1

    - name: Install dependencies
      run: yarn install --frozen-lockfile

    - name: Run build
      run: yarn run build

    - name: Run tests
      run: yarn run test && yarn run coverage

    - name: Update coverage
      uses: codecov/codecov-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        env_vars: OS,TYPESCRIPT
...